body {
    background: url("../../public/img/granville-street.jpg");
    background-attachment: fixed;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-success {
    width: 18rem;
    margin: 6px;
}

.itemDetail {
    max-width: 540px;
    margin-top: 20px;
}

.row {
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

